﻿body {
    background-color:aliceblue;
}

img {
    margin: 0%;
    display: inline-block;
    position: relative;
    float: left;
    width:400px;
    height:400px;
}

#add,#logout{
    display:inline-block;
    position:relative;
}

.delete {
    display: inline-block;
    position: relative;
    color: lightslategrey;
}

.update {
    display: inline-block;
    position: relative;
    color: lightslategrey;
}

#loginDialog,#select {
    margin-top:0.5%;
}

#image {
    display: inline-block;
    position: relative;
    float: left;
    text-align: center;
    color: midnightblue;
    display: inline-block;
    position: relative;
    float: left;
    text-align: center;
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

input[type=button] {
    font-size: 30px;
    font-family: 'Bauhaus 93';
    color: darkseagreen;
    background-color: #c9f6f7;
    height:43px;
}

input[type=text],input[type=password],input[type=number] {
    font-size: 20px;
    font-family: 'Bauhaus 93';
    color: darkseagreen;
    background-color: #c9f6f7;
}

#dialogLogin, #dialogDetails, #dialogEdit {
    background-color: darkseagreen;
    text-align: center;
    width:400px;
}

header {
    background-image: url("http://localhost:61895/Images/male-and-female-fashion-stylish-casual-shopping-accessory-seamless-pattern-vector-illustration_1284-2144.jpg");
    height:100px;
    width:100%;
}

#logo {
    width: 200px;
    height: 90px;
    margin-left: 40%;
    border: solid 5px black;
   }

select {
    background-color: #c9f6f7;
    font-family: Aharoni;
    font-size: 15px;
    width: 25%;
    height: 40px;
}